.Border {
    -fx-border-color: #CFD8DC;     /* Color del borde */
    -fx-border-width: 2px;         /* Grosor */
    -fx-border-insets: 5px;        /* Espacio entre borde y contenido */
}

.ScrollPane{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.VBoxPerfil{
    -fx-background-color: #ECEFF1;
}

.MenuButtonSize {
    -fx-min-width: 175px;
}

.nombreVehiculo {
    -fx-font-size: 20px; /* Tamaño de la fuente */
    -fx-text-fill: #37474F; /* Color del texto */
    -fx-font-weight: bold; /* Negrita */
}

.buttonReturn{
    -fx-background-color: #D2691E;
    -fx-text-fill: white; /* Color del texto en blanco */
    -fx-font-size: 18px; /* Tamaño de la fuente más grande */
    -fx-padding: 10px 20px; /* Espaciado alrededor del texto */
    -fx-background-radius: 5px;
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-border-color: #A0522D; /* Color del borde en un tono más oscuro */
    -fx-border-width: 2px; /* Grosor del borde */
}

.buttonReturn:hover {
    -fx-background-color: #E07B39; /* Color de fondo más claro cuando se pasa el ratón */
}

