@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');/*Importo tipo letra*/

.background{
    -fx-background-image: url("/com/gearborn/motors/api/imgs/fondoLogin.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.labelBlanco{
    -fx-text-fill: #FFFFFF;
}

.label0{
    -fx-font-family: 'Rajdhani';
    -fx-font-size: 35px;
    -fx-text-fill: #f0f0f0;
}

.fondoLogeo{
    -fx-arc-width: 20;
    -fx-arc-height: 20;
    -fx-fill: rgba(0, 0, 0, 0.4);
}

.TextField{
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: transparent;
}

.PasswordField{
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: transparent;
}

.button{
    -fx-font-family: 'VT323';
    -fx-background-color: #D2691E;
    -fx-text-fill: white; /* Color del texto en blanco */
    -fx-font-size: 18px; /* Tamaño de la fuente más grande */
    -fx-padding: 10px 20px; /* Espaciado alrededor del texto */
    -fx-background-radius: 5px;
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-border-color: #A0522D; /* Color del borde en un tono más oscuro */
    -fx-border-width: 2px; /* Grosor del borde */
}

.button:hover {
    -fx-background-color: #E07B39; /* Color de fondo más claro cuando se pasa el ratón */
}